/*  
    font-family: 'Inter', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Poppins', sans-serif; 
*/ 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Lora:wght@400;700&family=Poppins:wght@400;600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif; 
}

body, html {
    background-color: white;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}



/*** Defaults ***/
strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


.nav-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar-li {
    display: inline;
}

.nav-bar-li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

.nav-bar-li a:hover {
    background-color: #e9e9e9;
    border-bottom: 4px solid #6C5393;
}


h1 {
    font-family: 'Lora';
    font-weight: 700;
}

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    padding: 0; 
}


/*** Customs ***/

.top-header {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.in-header {
    display: flex;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    margin: 2% 2% 1.5% 2%;
    color: #131313;
}

.search-bar {
    margin: 2% 2% 1.5% 2%;
}

.search-input {
    width: 15vw;
    height: 2rem;
    padding: 10px;
    font-size: 13px;
    border-radius: 4px;
    margin: 2% 2% 1.5% 2%;
    border: 1px solid #DCDCDC;
    background-color: #eeeeee;
}

.search-input:hover {
    border-color: #614B8F;
}

.search-input:focus {
    outline: none;
    border: 2px solid #614B8F;
}

.book-btn {
    background-color: #614B8F;
    color: #fff;
    width: 11vw;
    margin: 2% 2% 1.5% 2%;
    padding: 1.3vh 2vw;
    border: 2px solid transparent;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 3px 6px #00000029;
}

.book-btn:hover {
    background-color: #fff;
    color: #614B8F;
    border-color: #614B8F;
}

.nav-bar {
    width: 100%;
    text-align: center;
}

.active {
    font-weight: 600;
    border-bottom: 4px solid #6C5393;
}

.slogans {
    color: #131313;
    padding: 7% 10% 10% 10%;
}

.explore-button {
    background-color: #614B8F;
    color: #fff;
    margin: 2% 0 0 0;
    width: 100px;
    height: 30px;
    border-top: 2px solid #614B8F;
    border-left: 2px solid #614B8F;
    border-bottom: 2px solid #352654;
    border-right: 2px solid #352654;
    border-radius: 4px;
    text-align: center;
}

.explore-button:hover {
    cursor: pointer;
    background-color: #6C5393;
    border-top: 2px solid #6C5393;
    border-left: 2px solid #6C5393;
    border-bottom: 2px solid #352654;
    border-right: 2px solid #352654;
}

.explore-button:active {
    top: 1px;
    position: relative;
}

.image {
    display: inline-block;
    position: absolute;
    top: 0vh;
    right: 20vw;
    width: 400px; 
    height: 400px;
}

.popular {
    text-align: center;
    padding: 20%;
}

.logo-and-slogan {
    padding: 3% 3% 3% 3%;
}

footer {
    align-items: center;
    justify-content: space-between;
}

.fast-links-ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fast-links-li1 {
    display: block;
}

.fast-links-li1 a {
    color: #000;
}

.fast-links-ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fast-links-li2 {
    display: block;
}

.fast-links-li2 a {
    color: #000;
}

.social-lists {
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 4vh;
}

.social-icons i {
    font-size: 20px;
    color: #000;
    margin: 10px;
}

.copyright-text {
    font-size: 13px;
    font-weight: 100;
    color: #000;
    text-align: center;
    margin-bottom: 2vh;
}